{
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ["src/**/*.ts", "my-module/**/*.ts"],
      "options": {
        "parser": "typescript",
        "printWidth": 120
      }
    }
  ]
}
