$backgroundPaper: #202f33;
$backgroundColor: #1D565C;
body {
  background-color: $backgroundColor;
  margin: initial;
}
button {
  .marginZero {
    margin: 0;
  }
}
:root {
 --background-paper: #{$backgroundPaper}
}
