.video {
  &__bigscreen {
    height: 99vh;
  }

  &__remoutstream {
    width: 90%;
  }
}

.textarea {
  background-color: #1D565C;

  &_chat-box {
    margin: 0 auto;
    height: 50px;
    width: 95%;
    padding: 5px 10px;
    box-sizing: border-box;

    &:focus {
      margin-left: 10px;
      width: 400px;
      height: 250px;
    }
  }

}

