.video {
  &__bigscreen {
    height: 99vh;
  }

  &__remoutstream {
    max-width: 200px;
    margin: 10px
  }
}

.textarea {
  background-color: #1D565C;

  &_chat-box {
    margin: 0 auto;
    height: 50px;
    width: 95%;
    padding: 5px 10px;
    box-sizing: border-box;
    overflow-y: hidden;

    &:focus {
      width: 400px;
    }
  }
}
.modal_settings {
  margin: 100px auto;
  background-color: var(--background-paper);
  padding: 20px 30px;
  text-align: center;

  .switch_label {
    text-transform: lowercase;
    font-size: 1em;
  }
}

