.remote-box {

  &_audio {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.video {
  &_remote {
    width: 98%;
    padding: 3px;

    &_audio {
      display: none;
    }
  }

  &_local {
    height: calc(97vh - 150px);
    width: 100%;
    overflow: hidden;
  }

  &_my-video {
    width: 85%;

  }

  &_settings {
    width: 250px;
  }
}

.margin_zero {
  margin: 0 !important;
}

.icon-submenu_toolbox {
  position: absolute;
}
.my-modal {
  display: flex;
}
.list{
  .list-more {
    &__listitem {
     padding: 0 15px;
      .button_zero {
        padding: 0;
      }

      &:hover {
        background-color: #87bfff;
      }

    }
}

  .margin_zero{

  }
}
.button_more {
  span {
    margin: 0;
  }
}

