.chats {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  pointer-events: initial;

  .chat {
    width: 50%;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;

    &_my {
      background-color: #100f60;
      color: white;
      border-top-right-radius: 0 ;
    }

    &_other {
      background-color: green;
      align-self: flex-end;
      border-top-left-radius: 0;
    }
  }
}

.input-field {
  flex-grow: 1;
  textarea {
    color: white;
    background-color: #2a2929;
    padding: 3px 5px;
    border: 2px solid #100f60;

  }
}

.input_devices {
  input, label {
    color: white
  }
}

.input_profile {
  input, label {
    color: white
  }
}


