@mixin after {
  border-radius: 50%;
  //border: 2px solid #a855f7;

  content: '';
  height: 44px;
  width: 44px;
  position: absolute;
  top: -4px;
  left: -4px;
}

.chats {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  pointer-events: initial;
  justify-content: space-between;

  .chat {
    width: 100%;
    margin: 0 5px 10px;
    padding: 5px 10px;
    box-sizing: border-box;

    &__body {
      background-color: #2a2f42;
      padding: 5px 10px;
      border-radius: 5px;
    }

    &_my {

    }

    &_other {

    }
  }
}

.input-field {
  flex-grow: 1;


  div {
    &::after {
      border-bottom: none;
    }

    &::before {
      border-bottom: none!important;
    }
  }
  textarea {
    padding: 8px 5px;
    border-radius: 3px;
  }
  &_dark{
    textarea {
      color: grey;
      background-color: #151823;
      border: 1px solid grey;
    }
  }
  &_light {
    textarea {
      color: grey;
      background-color: white;
      border: 1px solid grey;
    }
  }

}

.input_devices {
  input, label {
    color: white
  }
}

.input_profile {
  input, label {
    color: white
  }
}

.submenu {
  .form-control__label {
    margin: 0;
    padding-right: 5px;

    &:checked {
      color: green;
    }

    &:hover {
      background-color: #87bfff;
      color: black;
    }
  }
}

.my-button {


  &__toolbox {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: grey;
    }

    &_toggled {
      background-color: #6c00d3;
      position: relative;

      &_red {
        background-color: red;
        position: relative;

        &::after {
          @include after;
          border: 2px solid red;
        }

      }

      &::after {
        @include after;
        border: 2px solid #a855f7;

      }
    }
  }
}

.button-box {
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  &__toolbox {

  }

}



