.chats {
  display: flex;
  flex-flow: column;

  .chat {
    width: 250px;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 5px;

    &_my {
      background-color: #100f60;
      color: white;
    }

    &_other {
      background-color: green;
      align-self: flex-end;
    }
  }
}

.input-field {
  textarea {
    color: white
  }
}

.input_devices {
  input, label {
    color: white
  }
}

.input_profile {
  input, label {
    color: white
  }
}


